<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head', { title: "Urlbit - About Page" }); %>
</head>

<body>
  <div class="bg-light">
    <header>
      <%- include('../components/header', { activePage: "about" }); %>
    </header>

    <main class="container max-w-screen-xl mx-auto my-64 text-right">
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <div class="text-xl">Great to see you here</div>
            <div class="text-lg">
              Our service can help you to make your urls short that ease urls
              sharing
            </div>
            <br />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="well">
            <div>Upcoming Features:</div>
            <ul>
              <li>Analytics</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../components/footer'); %></footer>
  </div>
</body>

</html>