<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head'); %>
  </head>
  <body class="container">
    <header><%- include('../components/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron">
            <h1>This service isn't working for now</h1>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../components/footer'); %></footer>
  </body>
</html>
