<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../components/head'); %>
  </head>
  <body>
    <div class="container">
      <header><%- include('../components/header'); %></header>

      <main>
        <div class="jumbotron">
          <h1>Hello World</h1>
          <p>Welcome to Javascript World</p>
        </div>
      </main>

      <footer><%- include('../components/footer'); %></footer>
    </div>
  </body>
</html>
