* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "segoe ui";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-success {
    @apply p-2 mx-2 bg-gray-800 text-white font-semibold text-center rounded-md shadow-md hover:bg-green-700 focus:outline-none;
  }
}

.CodeMirror:not(.CodeMirror-fullscreen),
.CodeMirror:not(.CodeMirror-fullscreen) .CodeMirror-scroll {
  padding: 1px;
  max-height: 280px;
  min-height: 200px !important;
}
