<div class="flex items-center justify-center h-[82vh] relative z-50 font-mono">
  <form class="bg-[rgba(255,255,255,0.1)] shadow-lg p-6 border-2 border-[rgba(0,0,0,0.1)] rounded-2xl flex flex-col w-xl-[33vw]" id="contactForm" autocomplete="off">
    <div class="mb-4">
      <h1 class="text-lg font-bold">Contact Us</h1>
    </div>
    <div class="mb-4">
      <label for="title" class="text-lg">
        Title:
      </label>
      <input type="text" id="title" maxlength="30" minlength="1" class="mt-1 p-2 border-2 rounded-md w-full" />
    </div>
    <div class="mb-4">
      <label for="description" class="text-lg">
        Description:
      </label>
      <textarea id="description" class="mt-1 p-2 h-[25vh] border-2 rounded-md w-full resize-none"></textarea>
    </div>
    <div class="flex items-center justify-end">
      <input type="submit" id="submit" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer" />
    </div>
  </form>
</div>