<div class="flex items-center justify-center h-[88vh] relative z-50">
  <form class="bg-gray-200 p-6 rounded-lg shadow-md flex flex-col" id="contactForm" autocomplete="off">
    <div class="mb-4">
      <h1 class="text-lg font-bold">Contact Us</h1>
    </div>
    <div class="mb-4">
      <label for="title" class="text-lg font-semibold cursor-pointer">
        Title:
      </label>
      <input type="text" id="title" maxlength="30" minlength="1" class="mt-1 p-2 border rounded-md w-full" />
    </div>
    <div class="mb-4">
      <label for="description" class="text-lg font-semibold">
        Description:
      </label>
      <textarea id="description" class="mt-1 p-2 border rounded-md w-full"></textarea>
    </div>
    <div class="mb-4">
      <input type="submit" id="submit" class="bg-gray-300 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded w-full cursor-pointer" />
    </div>
  </form>
</div>