<meta charset="UTF-8" />
<title>
  <%= typeof title !== 'undefined' ? title : "UrlBit - Free link shortener" %>
</title>
<link rel="icon" href="favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="styles/style.css" />
<meta name="title" content="Free & Easy URL Shortener"></meta>
<meta name="description" content="The UrlBit is free and easy to use URL Shortener service that transform long, ugly links into nice, short and trackable short URLs. Use it to shorten links." />
<link rel="icon" href="/favicon.svg" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://urlbit.onrender.com" />
<meta property="og:title" content="Free & Easy URL Shortener" />
<meta property="og:description" content="The UrlBit is free and easy to use URL Shortener service that transform long, ugly links into nice, short and trackable short URLs. Use it to shorten links." />
<meta property="og:image" content="/favicon.svg"/>
